
section{    
border: 2px black solid;
padding: 10px;
font-size: 20px;
margin: 10px;}
tr{
    min-width: 200px;
    min-height: 20px;
    align-content: right;
}
input,select{
    min-width: 200px;
    min-height: 20px;
}
