.card-in {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.young {
    width: 20px;
    height: 20px;
    fill: black;
  }
  .young.is-young {
      fill: #37ad79;
  }
  .young.is-young-hovering {
      fill: #45bf94;
  }
  .young.is-young.is-young-hovering {
      fill: #ec4342;
  }
a {
    text-decoration: none;
    color: inherit;
}