/* You can add global styles to this file, and also import other style files */
body{
    background: linear-gradient(90deg, #eb3349 0%, #F45C43 50%, rgba(252,176,69,1) 100%); 
    /* background: #F45C43; */
}
button.success{
    align-self: flex-end;
    height: 24px;
    font-style: italic;
    border: 2px dotted black;
    background: rgb(114, 250, 171);
    
}
button.success:disabled{
    font-size: 0px;    
    height: 0px;
}
button.success:hover{
    color: whitesmoke;
    border: 2px dotted rgb(114, 250, 175);
    background: black;
}

.error{
    border : 2px white double;
    color: white;
    background-color: red;
    border-radius: 4px;
}